<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ADMIN ADD END USER</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="{{url_for('static',filename='fontsaaeu/linearicons/style.css')}}">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{{url_for('static',filename='fontsaaeu/material-design-iconic-font/css/material-design-iconic-font.min.css')}}">

		<!-- DATE-PICKER -->
		<link rel="stylesheet" href="{{url_for('static',filename='vendoraaeu/date-picker/css/datepicker.min.css')}}">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{{url_for('static',filename='cssaaeu/style.css')}}">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<form action="">
					<h3>ADD END USER</h3>
					<div class="form-row">
						<div class="form-wrapper">
							<label for=""> User Name *</label>
							<input type="text" class="form-control" placeholder="Your Name">
						</div>
						<div class="form-wrapper">
							<label for="">Qualification *</label>
							<input type="text" class="form-control" placeholder="Qualification">
						</div>
                    </div>
                    <div class="form-row">
						<div class="form-wrapper">
							<label for=""> Mail *</label>
							<input type="text" class="form-control" placeholder="Your Mail">
						</div>
						<div class="form-wrapper">
							<label for="">Password *</label>
							<input type="text" class="form-control" placeholder="Password">
						</div>
                    </div>
                    <div class="form-wrapper">
                        <label for="">Confirm Password *</label>
                        <input type="text" class="form-control" placeholder="Confirm Password">
                    </div>
                    

				
					<button data-text="END USER">
						<span>ADD</span>
					</button>
				</form>
			</div>
		</div>
		
		<script src="static/jsaaeu/jquery-3.3.1.min.js"></script>

		<!-- DATE-PICKER -->
		<script src="static/vendoraaeu/date-picker/js/datepicker.js"></script>
		<script src="static/vendoraaeu/date-picker/js/datepicker.en.js"></script>

		<script src="static/jsaaeu/main.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>