<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ADMIN VIEW END USER </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='assetseuh/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='assetseuh/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{{url_for('static',filename='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i')}}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assetseuh/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetseuh/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetseuh/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetseuh/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetseuh/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetseuh/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='assetseuh/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bocor - v2.2.1
  * Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{{url_for('static',filename='index.html')}}">ADMIN VIEW END USER <span></span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

     
           
  
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1>Your new digital experience </h1>
        <h2>"Focus on how to be social,not on how to do social"</h2>
       
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="static/assetseuh/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section><!-- End Hero -->
  <br>

<!DOCTYPE html>
<html>
<head>
<title>Bootstrap basic table example</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #bb2f3621;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #2c85c06e;
}
 </style>
</head>
<body>
<div class="container ">
<table class="table table-striped table-hover">
  <tr>
     
      <th>USER NAME</th>
      <th>QUALIFICATION</th>
      <th>MAIL </th>
      <th>PASSWORD</th>
      <th>CONFIRM PASSWORD</th>
  </tr>
  <tr>
     
      <td>Vidhyaa Bharathi.G</td>
      <td>xxx</td>
      <td>vb@gmail.com</td>
      <td>GVB</td>
      <td>GVB</td>
  </tr>
 
</table>
</div><br /><br />

</body>
</html>

 <!-- Vendor JS Files -->
 <script src="static/assetseuh/vendor/jquery/jquery.min.js"></script>
 <script src="static/assetseuh/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="static/assetseuh/vendor/jquery.easing/jquery.easing.min.js"></script>
 <script src="static/assetseuh/vendor/php-email-form/validate.js"></script>
 <script src="static/assetseuh/vendor/isotope-layout/isotope.pkgd.min.js"></script>
 <script src="static/assetseuh/vendor/owl.carousel/owl.carousel.min.js"></script>
 <script src="static/assetseuh/vendor/venobox/venobox.min.js"></script>
 <script src="static/assetseuh/vendor/aos/aos.js"></script>

 <!-- Template Main JS File -->
 <script src="static/assetseuh/js/main.js"></script>

</body>

</html>