<!DOCTYPE html>
<html lang="en">
<head>
	<title>ADMIN LOGIN</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static',filename='imagesal/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendoral/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fontsal/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fontsal/iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendoral/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendoral/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendoral/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendoral/select2/select2.min.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendoral/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='cssal/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='cssal/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="container-login100" style="background-image: url('static/imagesal/sm 1.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" >
				<form method="POST" action="">
				<span class="login100-form-title p-b-37">
					ADMIN LOGIN
				</span>
				

				<div class="wrap-input100 validate-input m-b-20" data-validate="userame">
					<input class="input100" type="text" name="username" placeholder="username">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "password">
					<input class="input100" type="text" name="password" placeholder="password">
					<span class="focus-input100"></span>
				</div>

		
			
				<div class="container-login100-form-btn">
                  <a href ="{{url_for('adminhome')}}" class="btn-about"><button type="button" class="btn btn-danger">SignIn</button</a>
				</div>


			</form>
			

			

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendoral/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendoral/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendoral/bootstrap/js/popper.js"></script>
	<script src="vendoral/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendoral/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendoral/daterangepicker/moment.min.js"></script>
	<script src="vendoral/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendoral/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="jsal/main.js"></script>

</body>
</html>