<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> ADMIN VIEW USER </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='assetsuh/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='assetsuh/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{{url_for('static',filename='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i')}}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assetsuh/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetsuh/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetsuh/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetsuh/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetsuh/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetsuh/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='assetsuh/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v2.2.1
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

  

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>ADMIN VIEW USER</h1>
     
      
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    
 <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>
  <br>
<!DOCTYPE html>
<html>
<head>
<title>Bootstrap basic table example</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="container ">
<table class="table table-bordered table-striped table-hover">
  <tr>
      <th>USERNAME</th>
      <th>PHONE NUMBER</th>
      <th>MAIL</th>
      <th>PASSWORD</th>
      <th>CONFIRM PASSWORD</th>
  </tr>
  <tr class="info">
      <td>Bg</td>
      <td>7894561230</td>
      <td>bg@gmail.com</td>
      <td>bgcool</td>
      <td>bgcool</td>
  </tr>
 
</table>
</div><br /><br />

</body>
</html>
<!-- Vendor JS Files -->
<script src="static/assetsuh/vendor/jquery/jquery.min.js"></script>
<script src="static/assetsuh/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assetsuh/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="static/assetsuh/vendor/php-email-form/validate.js"></script>
<script src="static/assetsuh/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="static/assetsuh/vendor/counterup/counterup.min.js"></script>
<script src="static/assetsuh/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/assetsuh/vendor/venobox/venobox.min.js"></script>
<script src="static/assetsuh/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="static/assetsuh/vendor/typed.js/typed.min.js"></script>
<script src="static/assetsuh/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="static/assetsuh/js/main.js"></script>

</body>

</html>