<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static',filename='fontseul/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='csseul/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='csseul/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static',filename='csseul/style.css')}}">

    <title> END USER LOGIN</title>
  </head>
  <body>
  

  <div class="d-md-flex half">
    <div class="bg" style="background-image: url('static/imageseul/sm 5.jpg');"></div>
    <div class="contents">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="form-block mx-auto">
              <div class="text-center mb-5">
                <h3 class="text-uppercase"> END USER LOGIN </strong></h3>
              </div>
              <form action="#" method="post"  method="POST" action="">
                <div class="form-group first">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" placeholder="your-email@gmail.com" id="username">
                </div><br>
                <div class="form-group last mb-3">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" placeholder="Your Password" id="password">
                </div>
                <br>
              

                <input type="submit" value="Log In"class="btn btn-block py-2 btn-primary"> <br>

               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    

    <script src="jseul/jquery-3.3.1.min.js"></script>
    <script src="jseul/popper.min.js"></script>
    <script src="jseul/bootstrap.min.js"></script>
    <script src="jseul/main.js"></script>
  </body>
</html>