<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>END USER HOME </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='assetseuh/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='assetseuh/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{{url_for('static',filename='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i')}}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assetseuh/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetseuh/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetseuh/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetseuh/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetseuh/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assetseuh/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='assetseuh/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bocor - v2.2.1
  * Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{{url_for('static',filename='index.html')}}">END USER HOME<span></span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{url_for('static',filename='index.html')}}">HOME</a></li>
         
          <li><a  href="{{url_for('adminviewreport')}}" class="navlink"> VIEW REPORT </a></li>
          <li><a  href="{{url_for('adminviewuser')}}" class="navlink"> VIEW END USER </a></li>
  
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1>Your new digital experience </h1>
        <h2>"Focus on how to be social,not on how to do social"</h2>
        <p>
          <a class="boxed-btr3" href="{{url_for('indexpage')}}"class="btn-get-started scrollto">LOGOUT</a>
        </p>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="static/assetseuh/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section><!-- End Hero -->


  <!-- Vendor JS Files -->
  <script src="static/assetseuh/vendor/jquery/jquery.min.js"></script>
  <script src="static/assetseuh/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assetseuh/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assetseuh/vendor/php-email-form/validate.js"></script>
  <script src="static/assetseuh/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assetseuh/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assetseuh/vendor/venobox/venobox.min.js"></script>
  <script src="static/assetseuh/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assetseuh/js/main.js"></script>

</body>

</html>